html {
  scroll-behavior: smooth;
}

#body  {
  text-align: center;
  background-color:#c9ebf1;
  margin: 0;
  font-family: 'Oswald', sans-serif;
  }


#cartas-imagen .card img {
  width: 100%;
  height: 15vw;
  object-fit: cover;
} 
.centrado {
  width: fit-content;
}

.centrado {
  margin-top: 2rem;
}


footer li {
  display: inline-block;
  list-style: none;
  text-align: center;
}

.centrado {
  margin-left: auto;
  margin-right: auto;
  display: flex;
  align-items: center;
}

footer ul {margin: 1em;}